* {
	margin:0;
}

body, html {
	height: 100%;
	font-family: Lato;
}

a:link
{
	color: #173e43;
    text-decoration: none;
}

a:visited
{
	color: #173e43;
    text-decoration: none;
}

a:hover
{
	color: rgba(220,0,0,0.8);
	text-decoration: none;
}
a:active
{
	color: rgba(220,0,0,1);
    text-decoration: none;
}

body > header {
	min-height: 60px;
	width: 100%;
	background: #38BCFF;
	line-height: 60px;
	z-index: 1;
}

header > h1
{
	font-size: 2em;
	font-family: Lato;
	display: table-cell;
	float: left;
}

header > h2
{
	font-size: 1.2em;
	font-family: Lato;
	display: table-cell;
	float: left;
	margin-left: 15px;
}

header > nav {
	font-size: 1.5em;
	display: table-cell;
	float: right;
}

header > nav > a
{
	padding-left: 10px;
	padding-right: 10px;
}
	
header > h1 {
margin-left: 50px; */
}

header > nav {
margin-right: 50px; */
}

.introduction_header {
	position: fixed;
}

.mainContent {
	height: 100%;
	text-align: center;
}

.introduction
{
	background-color:  rgba(10, 10, 10, 1);
    min-height: calc(100% - 80px);
	background: url(a.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
	vertical-align:center;
	display: flex;
	flex-direction: column;
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
	z-index: 0;
	padding-top: 50px;
}

.introduction > p
{
	padding-left: 5%;
	padding-right: 5%;
text-align: left;
font-size: 1.5em;
font-family: Raleway;
color: #FFF;
line-height: 200%;
}

blockquote {
	font-family: Raleway;
	font-size: 1.9em;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 2em;
	color: #FFF;
}

blockquote  > p:first-of-type::before {
    content:"\201E";
    font-size: 1.6em;
}

blockquote  > p:last-of-type::after {
    content:"\201D";
    font-size: 1.6em;
	}

blockquote > p {
	font-weight: bold;
}
	
blockquote > footer {
	font-size:1em;
	margin: 0 auto;
}

blockquote > footer > cite {
	display:inline;
}

.authorInfo {
	height: 30px; 
	font-size: 0.8em;
	text-transform: uppercase;
	/* font-weight: bold; */
	line-height: 30px;
	font-family: Lato;
	text-align: center;
	color: #FFF;
	background: rgba(50,50,50,0.9);
	box-shadow: 0 -1px 20px rgba(0,0,0,0.9);
}

footer > p > a:link {
	color: #FFF;
}

.listofcontent
{
	padding-top: 60px;
	background-color:  #FFF;
    min-height: calc(100% - 90px);
	vertical-align:center;
	display: flex;
	flex-direction: column;
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
	z-index: 0;
}

.listofcontent > h2
{
	font-size: 3em;
	font-family: Raleway;
	color: #000;
}

.listofcontent > p, .listofcontent > ol
{
	padding-left:20%;
	padding-right:20%;
	margin-top: 50px;
	text-align: left;
	font-size: 1.7em;
	font-family: Lato;
	color: #000;
	line-height: 200%;
}

.content
{
	background-color:  #FFF;
    min-height: calc(100% - 100px);
	vertical-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.content > h2
{
	font-size: 3em;
	display: inline;
	font-family: Raleway;
	color: #000;
}

.content > h3
{
	font-size: 2em;
	display: inline;
	font-family: Raleway;
	color: #000;
}

.content > h4
{
	font-family: Raleway;
	font-size: 1.8em;
	margin-top: 20px;
	padding-left:20%;
	text-align: left;
	margin-bottom: 20px;
	color: #000;
}

.content > p
{
padding-left:15%;
padding-right:15%;
text-align: justify;
font-size: 1.5em;
font-family: Lato;
color: #000;
line-height: 150%;
}

.content > h5
{
	font-size: 1.5em;
	padding-bottom: 30px;
}

.prev
{
	float: left;
	padding-left:15%;
}

.next
{
	float:right;
	padding-right:15%;
}