* {
	margin:0;
}

body, html {
	height: 100%;
	font-family: Lato;
}

a:link
{
	color: #173e43;
    text-decoration: none;
}

a:visited
{
	color: #173e43;
    text-decoration: none;
}

a:hover
{
	color: rgba(220,0,0,0.8);
	text-decoration: none;
}
a:active
{
	color: rgba(220,0,0,1);
    text-decoration: none;
}

body > header {
	height: 60px;
	width: 100%;
	background: #00c490;
	line-height: 60px;
	z-index: 1;
	position: fixed;
}

header > h1
{
	font-size: 2em;
	font-family: Lato;
	display: table-cell;
	float: left;
}

header > h2
{
	font-size: 1.2em;
	font-family: Lato;
	display: table-cell;
	float: left;
	margin-left: 15px;
}

header > nav {
	font-size: 1.5em;
	display: table-cell;
	float: right;
}

header > nav > a
{
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (max-width: 800px){
   header > nav {
     display: none;
   }
   
   header > h1
     {
	width: 100%;
    text-align: center;
   }   
   
   header > h2
     {
	display: none;
   }
}

@media only screen and (min-width: 800px){
	
   header > h1 {
   margin-left: 100px;
   }
   
   header > nav {
   margin-right: 100px;
   }
}

.mainContent {
	height: 100%;
	text-align: center;
}

.introduction
{
	padding-bottom: 60px;
	background-color:  rgba(214, 248, 224, 1);
    min-height: calc(100% - 60px);
	background-image: url("a.png");
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align:center;
}

.introduction > h2
{
	padding-top: 150px;
	font-size: 3em;
	font-family: Helvetica;
	color: #FFF;
}

.introduction > p
{
padding-left:20%;
padding-right:20%;
margin-top: 50px;
text-align: justify;
font-size: 1.8em;
font-family: Helvetica;
color: #FFF;
line-height: 200%;
}

.listofcontent
{
	padding-bottom: 60px;
	background-color:  rgba(214, 248, 224, 1);
    min-height: calc(100% - 60px);
	vertical-align:center;
	padding-top: 100px;
}

.listofcontent > h2
{
	font-size: 5vmin;
	font-family: Helvetica;
	color: #000;
}

.listofcontent > p, .listofcontent > ol
{
	padding-left:20%;
	padding-right:20%;
	margin-top: 50px;
	text-align: left;
	font-size: 3vmin;
	font-family: Helvetica;
	color: #000;
	line-height: 200%;
}

.content
{
	background-color:  rgba(214, 248, 224, 1);
    min-height: calc(100% - 100px);
	vertical-align:center;
	padding-top: 100px;
}

.content > h2
{
	font-size: 3em;
	display: inline;
	font-family: Helvetica;
	color: #000;
}

.content > h3
{
	font-size: 2em;
	display: inline;
	font-family: Helvetica;
	color: #000;
}

.content > h4
{
	font-family: Helvetica;
	font-size: 1.8em;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #000;
}

.content > p
{
padding-left:15%;
padding-right:15%;
text-align: justify;
font-size: 1.5em;
font-family: Helvetica;
color: #000;
line-height: 150%;
}

.content > h5
{
	font-size: 1.5em;
	padding-bottom: 30px;
}

.prev
{
	float: left;
	padding-left:15%;
}

.next
{
	float:right;
	padding-right:15%;
}