* {
	margin:0;
}

body, html {
	height: 100%;
	font-family: Lato;
}

a:link
{
	color: rgba(130,130,255,1);
    text-decoration: none;
}

a:visited
{
	color: rgba(110,110,200,1);
    text-decoration: none;
}

a:hover
{
	color: rgba(220,0,0,0.8);
	text-decoration: none;
}
a:active
{
	color: rgba(220,0,0,1);
    text-decoration: none;
}

body > header {
	height: 60px;
	width: 100%;
	/* box-shadow: 0 1px 20px rgba(85, 191, 217,1); */
	background: #FFF;
	line-height: 60px;
	z-index: 1;
	position: fixed;
}

header > h1
{
	font-size: 3vmin;
	font-family: Lato;
	display: table-cell;
	float: left;
}

header > h2
{
	font-size: 2vmin;
	font-family: Lato;
	display: table-cell;
	float: left;
	margin-left: 15px;
}

header > nav {
	font-size: 2.25vmin;
	display: table-cell;
	float: right;
}

header > nav > a
{
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (max-width: 800px){
   header > nav {
     display: none;
   }
   
   header > h1
     {
	width: 100%;
    text-align: center;
   }   
   
    .about > p
	{
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 5px;
	margin-top: 20px;
	}
	
	.about >p:first-of-type
	{
		margin-top: 20px;
	}
}

@media only screen and (min-width: 800px){
	
   header > h1 {
   margin-left: 100px;
   }
   
   header > nav {
   margin-right: 100px;
   }
      
   .about > p
	{
	padding-left:20%;
	padding-right:20%;
	margin-top: 50px;
	}
	
	.about
	{
		padding-bottom: 50px;
	}
	
	.about > h2, .subscribe > form > h2
	{
	padding-top: 50px;
	}
}

.mainContent {
	height: 100%;
	text-align: center;
}

.quote {
	background-color: #000;
	height: auto;
	min-height: calc(100%);
	padding-left: 50px;
	padding-right: 50px;
	background-image: url("a.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex; /* opt into the new box model */ 
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
	z-index: 0;
}

/* IE10 and 11 flex-box min-height bug */
/* +++ Divide By Cucumber Error. Please Reinstall Universe And Reboot +++ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.quote
{
height: 100px;
}
}

blockquote {
	font-family: Raleway;
	font-size: 4vmin;
	line-height: 2em;
	color: #FFF;
}

blockquote > p {
	font-weight: bold;
}
	
blockquote > footer {
	font-size:3vmin;
	margin: 0 auto;
}

blockquote > footer > p {
	display:inline;
	font-style: italic;
}

blockquote > footer > #context::after {
	content:" - ";
}

blockquote > footer > cite {
	display:inline;
}

blockquote > footer > #source {
		display:inline;
}


blockquote > footer > #source::before {
		content: ", ";
}

.about {
	/* background-color:  rgba(55,69,182,0.9); */
	background-color:  rgba(0,0,0,0.9);
    height: auto;
    min-height: 60%;
}

.about > h2, .subscribe > form > h2, .subscribe2 > h2
{
	font-size: 5vmin;
	font-family: Lato;
	color: white;
}

.about > p > img
{
	align-items: center;
}

.about > h3
{
	font-size: 2.5vmin;
	font-family: Lato;
	color: white;
}

	.about > p
	{
	font-size: 2.3vmin;
	color: white;
	font-family: Raleway;
	line-height: 2em;
	text-align: justify;
	}

.subscribe {
	background-color: rgba(32,34,75,1);
	height: calc(100% - 45px);
	display: flex; /* opt into the new box model */ 
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
}

.subscribe2 {
	background-color: rgba(32,34,75,1);
	height: calc(100%);
	display: flex; /* opt into the new box model */ 
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
}

.subscribe2 > ol {
	color: #FFF;
	font-size : 2vmin;
	text-align: left;
}

.subscribe2 > ol > li::before {
		content: "  ";
}

.subscribe > form > h2, .subscribe2 > form > h2
{
	color: white;
	padding-bottom: 30px;
}

.subscribe > form > p, .subscribe2 > form > p
{
	padding-bottom: 30px;
	color: #FFF;
	font-size : 3vmin;
}

.inputField
{
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 8px;
	width: 60%;
	height: 3em;
	font-size: 2vmin;
	font-family: Raleway;
	padding-left: 20px;
	margin-bottom: 20px;
	outline: none !important;
}

.button {
  background-color: rgba(65,69,152,1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: #000;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #000;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  color: #FFF;
  font-family: Raleway;
  font-size: 2vmin;
  cursor: pointer;
  height: 2.5em;
  line-height: normal;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  margin-bottom: 30px;
}

.authorInfo {
	height: 45px; 
	font-size: 1.5vmin;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 45px;
	font-family: Lato;
	text-align: center;
	color: #FFF;
	background: rgba(0,0,0,0.9);
	box-shadow: 0 -1px 25px rgba(0,0,0,0.9);
}
